@import '../App.module.css';

.clockTimer {
    font-weight: bolder;
    font-size: 4rem;
    color: var(--primary);
}

.clockBtn {
    text-align: center;
    padding: .6rem 1.8rem;
    font-size: 1.8rem;
    border-radius: 20px;
    color: var(--bg);
    border: none;
    background-color: var(--primary);
}

.clockBtnStart {
    opacity: 1;
}

.clockBtnStop {
    opacity: 0.6;
}

.clockBtn:hover {
    cursor:pointer;
}