.timersTable {
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;
}

.timersTable th, .timersTable td {
    padding: 0.5rem;
    text-align: left;
}

.timersTable th {
    border-bottom: 1px solid black;
}