:root {
  --primary: tomato;
  --over: #9f6faf;
  --detail: #23638d;
  --bg: beige;
}

.container {
  padding: 3rem;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.mainTitle {
  font-weight: 600;
  font-size: 3rem;
  color: var(--primary);
}

.lowTitle {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 2rem;
  color: var(--primary);
}

.footer {
position:absolute;
bottom: 30px;
display: grid;
align-items: end;
}

.button {
  text-align: center;
  padding: .3rem 1rem;
  font-size: .7rem;
  border-radius: 10px;
  color: var(--bg);
  border: none;
  background-color: var(--primary);
  cursor: pointer;
}

.logo, .spinningLogo  {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinningLogo {
    animation: app-logo-spin infinite 1s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
